@tailwind base;
  @tailwind components;
  @tailwind utilities;
  


  html {
    scroll-behavior: smooth;
  }

  .hero-bg {
    background-image: url("/images/3.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .hero-bg::after{
    content: "";
    position: absolute;
    z-index: 1;
    background: rgb(61, 61, 61);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  

  .donate-bg {
    background-image: url("https://c8.alamy.com/comp/T51NA9/abstract-blue-wave-background-eps-10-T51NA9.jpg");
    /* background-image: url("https://c4.wallpaperflare.com/wallpaper/377/14/348/constitution-day-russia-patriotism-flag-wallpaper-preview.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .donate-main-bg {
    /* background-image: url("https://c4.wallpaperflare.com/wallpaper/377/14/348/constitution-day-russia-patriotism-flag-wallpaper-preview.jpg"); */
    background-image: url("https://c4.wallpaperflare.com/wallpaper/895/243/769/shapes-blue-red-digital-art-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }